# Ignore the non-docker config
data/config.yml

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore virtual environment
.venv/

# Ignore logs
logs/

# Ignore temporary files
*.tmp
*.temp

# Ignore environment variables file
.env
